.f {
    display: flex;

}
.jc-b {
    justify-content:space-between;
}

.jc-c{
    justify-content:center;
}
.jc-sa{
    justify-content: space-around;
}
*{
    margin: 0;
    height: auto;
    width: auto;
}

.l-s{
    padding: 10px 10px;
}